@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
